header{
  background: skyblue;
  color:white;
  margin: 1%;
  text-align: center;
  padding: 2%;
  font-size: 25px;
  border:2px solid black;
  font-weight: 600;
  box-shadow: 2px 5px black;

}
a img{
  display: block;
  width: 10%;
  margin:1% 3% 0 auto;
}
.parent{
  display: flex;
  justify-content: space-around;
}
.child img {
  width:280px;
  height: 280px;
  border-radius: 2%;
  background-color:  pink;
  margin:2%;
  padding: 1%;
  }
  .child{
    text-align: center;
    border:2px solid black;
    width:30%;
    background-color: grey;
    border-radius: 3%;

}
